<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @instructor.department %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) , class: 'btn btn-primary' %> |
<%= link_to 'Back', instructors_path , class: 'btn btn-primary' %>
