<% if is_instructor? %> 
    <h2>Hello Instructor <%= current_user.name %></h2>
<% elsif is_student? %>
    <h2>Welcome, <%=current_user.name %></h2>
    <p>Following are the actions you are allowed to perform:</p>
<% else %>
    <h1>Hi Admin <%= current_user.name %></h1>
<% end %>
